<div class="position-relative">
    
    <h1 class="mt-5">Welcome to Murcast<span style="color:blue" class="fw-bolder">BLOG</span></h1>

    <p class="lead">Get in!</p>
     
    <%= link_to 'My Blog', articles_path, class: "mb-5 btn btn-primary btn-lg" %>

</div>
<div>

</div>